apache-airflow-providers-celery
apache-airflow-providers-fab
apache-airflow-providers-postgres
apache-airflow-providers-amazon
apache-airflow-providers-git
psycopg2-binary
asyncpg
connexion
flask
flask_appbuilder