apache-airflow-providers-celery
apache-airflow-providers-fab
apache-airflow-providers-postgres
apache-airflow-providers-amazon
apache-airflow[amazon]
psycopg2-binary
asyncpg
pandas
polars
duckdb
s3fs
pyspark
numpy
httpx